.container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    background-color: var(--color-header);
    border-radius: 0px 0px 15px 15px;
    border-color: var(--color-header-outline);
    border-style: solid;
    border-width: 0px var(--border-header-size) var(--border-header-size) var(--border-header-size);
    padding: 0 25px 0 25px;
    gap: 15px;
}