.container {
    position: relative;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.title {
    font-family: var(--font-nav-button);
    font-weight: var(--font-weight-semibold);
    font-style: normal;
    font-size: 17px;
    color: var(--color-secundary);
    transition: all 0.2s;
}

@media(hover: hover) and (pointer: fine) {
    .title:hover {
        color: var(--color-quinary-hover);
    }
}

.expanded {
    width: 16px;
    height: 16px;
    color: var(--color-secundary);
}

@media(hover: hover) and (pointer: fine) {
    .button:hover .expanded {
        color: var(--color-quinary-hover);
    }
}

.options {
    position: absolute;
    display: flex;
    top: 200%;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: auto;
    z-index: 999;
}

.options> :first-child {
    padding-top: 25px;
}

.options> :last-child {
    padding-bottom: 25px;
}