.item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: start;
    cursor: pointer;
    line-height: 1.3;
    width: 100%;
}

.item:hover .title {
    transition: all 0.1s;
    color: var(--color-primary-saturated);
}

.title {
    display: flex;
    font-family: var(--font-tertiary);
    font-weight: var(--font-weight-bold);
    font-style: normal;
    font-size: 20px;
    color: var(--color-tertiary);
    white-space: nowrap;
}

.content {
    display: flex;
    flex-direction: column;
    font-family: var(--font-tertiary);
    font-weight: var(--font-weight-semibold);
    font-style: normal;
    font-size: 15px;
    color: var(--color-quaternary);
    white-space: nowrap;
}