:root {
    --header-height: 60px;
    --header-width: 100%;

    --color-background: #F5F5F5;
    --color-primary: #201E43;
    --color-secundary: rgba(43, 34, 61, 0.68);
    --color-tertiary: #2B223D;
    --color-quaternary: #6E687A;
    --color-quinary: rgba(43, 34, 61, 0.80);
    --color-quinary-hover: rgb(43, 34, 61);
    --color-white: #fff;
    --color-gold: #efbf04;
    --color-transparent: transparent;


    --font-primary: "Blinker", serif;
    --font-secundary: "Montserrat", serif;
    --font-tertiary: "Baloo Bhaijaan 2", serif;
    --font-nav-button: "Montserrat", serif;

    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;
    --font-weight-black: 900;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: var(--color-background);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #4e4a57;
}

::-webkit-scrollbar-thumb {
    background: var(--color-quaternary);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #9a91aa;
}