.container {
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
    cursor: pointer;
    user-select: none;
}

.logo {
    width: 40px;
    height: 32px;
    color: var(--color-primary);
}

.title {
    font-family: var(--font-primary);
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    color: var(--color-primary);
}