.container {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}

.buttons {
    display: flex;
    align-items: start;
    flex-direction: column;
    user-select: none;
}