.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 15px;

    font-family: var(--font-secundary);
    font-weight: var(--font-weight-semibold);
    font-style: normal;
    text-align: center;
    font-size: 22px;
    cursor: pointer;

    width: 300px;
    line-height: 55px;

    border: none;
    outline: none;
    background: none;

    background-color: var(--color-primary);
    color: var(--color-white);

    transition: all 0.2s;

    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}


.button:hover {
    background-color: var(--color-secundary);
}

.button:active {
    transition: all 0.05s;
    background-color: var(--color-primary);
}