.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.title {
    font-family: var(--font-nav-button);
    font-weight: var(--font-weight-semibold);
    font-style: normal;
    font-size: 17px;
    color: var(--color-quinary);
    transition: all 0.2s;
}

.title:hover {
    color: var(--color-quinary-hover);
}

.expanded {
    width: 16px;
    height: 16px;
    color: var(--color-primary);
}